.DS_Store
ssh/known_hosts
.config/vim/.netrwhist
configstore
/.local
/.nodenv
/.npm
/Downloads
/Documents
/Desktop
/code
/Library
/Movies
/Music
/Pictures
/Public
/.zsh_history
.zcompdump-*
/.Trash
/.locks
/.docker
/.gnupg
