[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "iTerm/iTerm2-Color-Schemes"]
	path = iTerm/iTerm2-Color-Schemes
	url = git@github.com:mbadolato/iTerm2-Color-Schemes.git
[submodule "zsh/base16-shell"]
	path = zsh/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "xcode/FontsAndColorThemes/Base16"]
	path = xcode/FontsAndColorThemes/Base16
	url = https://github.com/joedynamite/base16-xcode4
[submodule "sublime-text/Installed Packages/Theme - Soda"]
	path = sublime-text/Installed Packages/Theme - Soda
	url = https://github.com/buymeasoda/soda-theme/
[submodule "vim/colors/base16.vim"]
	path = vim/colors/base16.vim
	url = git://github.com/chriskempson/base16-vim.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = gh:VundleVim/Vundle.vim
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
