[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "vim/janus"]
	path = vim/janus
	url = git@github.com:carlhuda/janus.git
  ignore = dirty # ignore untracked doc/tags files that is created
[submodule "iTerm/iTerm2-Color-Schemes"]
	path = iTerm/iTerm2-Color-Schemes
	url = git@github.com:mbadolato/iTerm2-Color-Schemes.git
[submodule "vim/customization/base16.vim"]
	path = vim/customization/base16.vim
	url = git@github.com:chriskempson/base16-vim.git
[submodule "zsh/base16-shell"]
	path = zsh/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "vim/customization/Emmet.vim"]
	path = vim/customization/Emmet.vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "vim/customization/vim-vinegar"]
	path = vim/customization/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "vim/customization/tComment.vim"]
	path = vim/customization/tComment.vim
	url = https://github.com/vim-scripts/tComment.git
[submodule "xcode/FontsAndColorThemes/Base16"]
	path = xcode/FontsAndColorThemes/Base16
	url = https://github.com/joedynamite/base16-xcode4
[submodule "sublime-text/Installed Packages/Theme - Soda"]
	path = sublime-text/Installed Packages/Theme - Soda
	url = https://github.com/buymeasoda/soda-theme/
[submodule "sublime-text/Packages/Theme - Soda"]
	path = sublime-text/Packages/Theme - Soda
	url = https://github.com/buymeasoda/soda-theme/
[submodule "vim/customization/TaskPaper.vim"]
	path = vim/customization/TaskPaper.vim
	url = git@github.com:davidoc/taskpaper.vim.git
[submodule "vim/colors/base16"]
	path = vim/colors/base16
	url = git://github.com/chriskempson/base16-vim.git
