[submodule "vim/pack/jxpx777/start/base16-vim"]
	path = .config/vim/pack/jxpx777/start/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "vim/pack/jxpx777/start/ale"]
	path = .config/vim/pack/jxpx777/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "vim/pack/jxpx777/start/vim-go"]
	path = .config/vim/pack/jxpx777/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/pack/jxpx777/start/vim-surround"]
	path = .config/vim/pack/jxpx777/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/jxpx777/start/vim-rails"]
	path = .config/vim/pack/ruby/start/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim/pack/jxpx777/start/vim-repeat"]
	path = .config/vim/pack/jxpx777/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/pack/jxpx777/start/vim-git"]
	path = .config/vim/pack/jxpx777/start/vim-git
	url = https://github.com/tpope/vim-git
[submodule "vim/pack/jxpx777/start/vim-fugitive"]
	path = .config/vim/pack/jxpx777/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/jxpx777/start/editorconfig-vim"]
	path = .config/vim/pack/jxpx777/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/pack/jxpx777/start/fzf.vim"]
	path = .config/vim/pack/jxpx777/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/pack/jxpx777/start/ack.vim"]
	path = .config/vim/pack/jxpx777/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "shell/base16-shell"]
	path = .config/iTerm/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "vim/pack/jxpx777/start/vim-commentary"]
	path = .config/vim/pack/jxpx777/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/pack/java/start/vim-javacomplete2"]
	path = .config/vim/pack/java/start/vim-javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2.git
[submodule "vim/pack/tmux/start/vim-tmux-navigator"]
	path = .config/vim/pack/tmux/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/pack/markdown/start/vim-markdown"]
	path = .config/vim/pack/markdown/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/pack/jxpx777/start/vim-test"]
	path = .config/vim/pack/jxpx777/start/vim-test
	url = https://github.com/janko/vim-test.git
[submodule ".config/vim/pack/jxpx777/start/supertab"]
	path = .config/vim/pack/jxpx777/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".config/vim/pack/svelte/start/vim-svelte"]
	path = .config/vim/pack/svelte/start/vim-svelte
	url = https://github.com/evanleck/vim-svelte.git
[submodule ".config/vim/pack/javascript/tern.vim"]
	path = .config/vim/pack/javascript/tern.vim
	url = https://github.com/ternjs/tern_for_vim
[submodule ".config/vim/pack/jxpx777/start/coc"]
	path = .config/vim/pack/jxpx777/start/coc
	url = https://github.com/neoclide/coc.nvim.git
[submodule ".config/vim/pack/ruby/start/vim-rbenv"]
	path = .config/vim/pack/ruby/start/vim-rbenv
	url = https://github.com/tpope/vim-rbenv.git
[submodule ".config/vim/pack/ruby/start/vim-ruby"]
	path = .config/vim/pack/ruby/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".config/vim/pack/graphql/start/vim-graphql"]
	path = .config/vim/pack/graphql/start/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule ".config/vim/pack/jxpx777/start/lh-vim-lib"]
	path = .config/vim/pack/jxpx777/start/lh-vim-lib
	url = https://github.com/LucHermitte/lh-vim-lib.git
[submodule ".config/zsh/customization/plugins/zsh-vi-mode"]
	path = .config/zsh/customization/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
[submodule ".config/vim/pack/ruby/start/vim-ruby-heredoc-syntax"]
	path = .config/vim/pack/ruby/start/vim-ruby-heredoc-syntax
	url = https://github.com/joker1007/vim-ruby-heredoc-syntax.git
[submodule ".config/vim/pack/jxpx777/start/bufexplorer"]
	path = .config/vim/pack/jxpx777/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule ".config/vim/pack/jxpx777/start/localvimrc"]
	path = .config/vim/pack/jxpx777/start/localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule ".config/vim/pack/productivity/start/todo.txt-vim"]
	path = .config/vim/pack/productivity/start/todo.txt-vim
	url = https://github.com/freitass/todo.txt-vim.git
[submodule ".config/vim/pack/mermaid/start/vim-mermaid"]
	path = .config/vim/pack/mermaid/start/vim-mermaid
	url = https://github.com/chazmcgarvey/vim-mermaid.git
[submodule ".config/vim/pack/jxpx777/start/marks.nvim"]
	path = .config/vim/pack/jxpx777/start/marks.nvim
	url = https://github.com/chentau/marks.nvim.git
